<p id="notice"><%= notice %></p>

<h1>购物车</h1>

<table>
  <thead>
    <tr>
      <th>购物车ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carts.each do |cart| %>
      <tr>
        <td><%= cart.id %></td>
        <td><%= link_to '查看', cart %></td>
        <td><%= link_to '编辑', edit_cart_path(cart) %></td>
        <td><%= link_to '删除', cart, method: :delete, data: { confirm: '确定删除?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新建购物车', new_cart_path %>
