<p id="notice"><%= notice %></p>
<h2>购物车详情</h2>
<ul>
  <% @cart.line_item.each do |item|%>
    <li><%= item.quantity %> &times; <%= item.product.title %></li>
  <% end %>
</ul>

<%= link_to '编辑', edit_cart_path(@cart) %> |
<%= link_to '返回', carts_path %>
